/* 1. VARIABLES & RESET */

@import url('https://fonts.cdnfonts.com/css/vividly');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    --primary-color: #F5D9DF;
    --secondary-color: #F588A2;
    --ternary-color: #000000;
    --font-main: 'Vividly', serif;
    --font-body: 'Poppins', sans-serif;
}

body {
    margin: 5% 20%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
}

/* 2. HEADER STYLES */
.title-header, .project-header, .contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.page-title, .project-title, .contact-title {
    font-family: var(--font-main);
    color:var(--secondary-color);
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 50px);
}

.header-span {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 10px;
    width: calc(100% - 25px);
    height: 100%;
}

/* 3. PROJECT TITLE STYLES */

.projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project {
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 25px 50px;
}

.project:hover {
    transform: scale(1.05);
}

.title-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 4. PROJECT DESCRIPTION STYLES */
a {
    text-decoration: none;
    color: var(--secondary-color);
    text-align: center;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

